* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #0d0f16; 
  color: #e4e6eb;
}

nav {
  display: flex;
  gap: 35px;
  padding: 18px 40px;
  background: rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  z-index: 50;
}

nav a {
  font-size: 18px;
  text-decoration: none;
  color: #b4b7c5;
  transition: 0.3s ease;
}

nav a:hover {
  color: #4da6ff;
  text-shadow: 0 0 8px rgba(77, 166, 255, 0.8);
}

main {
  padding: 40px 60px;
}

.container {
  background: rgba(255, 255, 255, 0.06);
  padding: 35px;
  border-radius: 18px;
  max-width: 850px;
  margin: auto;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  color: #4da6ff;
  text-shadow: 0 0 8px rgba(77, 166, 255, 0.6);
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #4da6ff;
  text-shadow: 0 0 8px rgba(77, 166, 255, 0.6);
}

p {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 15px;
  color: #cfd2dc;
}
